name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: '30 18 * * *'

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_PAT }}
          SHOW_LOC_CHART: "False"
          SHOW_OS: "False"
          SHOW_EDITORS: "False"
          SHOW_PROFILE_VIEWS: "False"
          UPDATED_DATE_FORMAT: "%m/%d/%Y %H:%M:%S"
          SHOW_LINES_OF_CODE: "True"
          
