name: Waka Readme

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '30 18 * * *'

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_PAT }}
          SHOW_COMMIT: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
